

*.driveupload
*.ini
AudioSpecViz/LPFilter/Last Loaded LPFilter.pdsbak
AudioSpecViz/LPFilter/LPFilter.pdsprj.HP.SubangkarKr.workspace
AudioSpecViz/LPFilter/Backup Of LPFilter.pdsbak
AudioSpecViz/LCD/Last Loaded 8 Bit.pdsbak
AudioSpecViz/LCD/8 Bit.pdsprj.HP.SubangkarKr.workspace

AudioSpecViz/ADC/Last Loaded ADC.pdsbak
AudioSpecViz/ADC/Backup Of ADC.pdsbak
AudioSpecViz/ADC/ADC.pdsprj.HP.SubangkarKr.workspace
MicroController/Exp02/.vs/DotMatrix/v14/.atsuo
MicroController/Exp03/ADC in 4 Bit LCD/Last Loaded 4 Bit.DBK
