

*.driveupload
*.ini
AudioSpecViz/LPFilter/LPFilter.pdsprj.HP.SubangkarKr.workspace
AudioSpecViz/LCD/8 Bit.pdsprj.HP.SubangkarKr.workspace

*.pdsprj.HP.SubangkarKr.workspace
*.atsuo
*.DBK



*.pdsbak
*.workspace
AudioSpecViz/Codes/.vscode/settings.json
*.elf
*.hex
*.o
*.lss
*.srec
*.map
*.d
*.mk
*.eep
**/Debug/*
